<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="" action="/team" method="POST">
     <p><label for="team_name">Team Name:</label>
       <input type="team_name" name="Team Name:"></p>
     
     <p><label for="coach">Coach:</label>
       <input type="coach" name="Coach:"></p>
       
     <p><label for="point_gaurd">Point Gaurd:</label>
       <input type="point_gaurd" name="Point Gaurd:"></p>
       
     <p><label for="shooting_gaurd">Shooting Gaurd:</label>
       <input type="shooting_gaurd" name="Shooting Gaurd:"></p>
       
     <p><label for="small_forward">Small Forward:</label>
       <input type="small_forward" name="Small Forward:"></p>
       
     <p><label for="power_forward">Power Forward:</label>
       <input type="power_forward" name="Power Forward:"></p>
       
     <p><label for="center">Center:</label>
       <input type="center" name="Center:"></p>
       
     <p><input type="submit" value="Submit" id="Submit"></p>
   </form>
 </body>
</html>
