<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="" action="/team" method="post">
     <p><input type="team_name" name="Team Name:"></p>
     <p><input type="coach" name="Coach:"></p>
     <p><input type="point_gaurd" name="Point Gaurd:"></p>
     <p><input type="shooting_gaurd" name="Shooting Gaurd:"></p>
     <p><input type="small_forward" name="Small Forward:"></p>
     <p><input type="power_forward" name="Power Forward"></p>
     <p><input type="center" name="Center:"></p>
     <p><input type="submit" value="Submit" id="Submit"></p>
   </form>
 </body>
</html>
