<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="" action="/team" method="post">
     <input type="team_name" name="Team Name:">
     <input type="coach" name="Coach:">
     <input type="point_gaurd" name="Point Gaurd:">
     <input type="shooting_gaurd" name="Shooting Gaurd:">
     <input type="small_forward" name="Small Forward:">
     <input type="power_forward" name="Power Forward">
     <input type="center" name="Center:">
     <input type="submit" value="Submit">
   </form>
 </body>
</html>


